/* container */
body{
    scroll-behavior: smooth;
}
.ctn {
    background-color: #171717;
    width: 100%;
    position: relative;
    height: 1500px;
    color: azure;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.ctn_r1 {
    padding-top: 180px;
    margin-left: 90px;
    font-size: 4rem;
}

.ctn_r2,
.ctn_r3 {
    margin-left: 90px;
    display: grid;
    width: 1355px;
    grid-template-columns: repeat(5, 255px);
    gap: 20px;
}

.product_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
}

.product_card-img {
    width: 255px;
    height: 310px;
    overflow: hidden;
    border-radius: 20px;
}

.product_card-img img {
    width: 100%;
    height: 100%;
}

.product_card:hover .product_card-img img {
    transform: scale(1.5);
}

.product_card-name,
.product_card-price {
    font-size: 1.3rem;
    font-weight: bold;
    height: 30px;
}

.product_card-detail {
    height: 90px;
    color: #605f60;
}

.product_card-btn {
    width: 255px;
    border-radius: 20px;
    border: 1px solid #3333f5;
    background-color: #3333f5;
    outline: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    font-weight: bold;
    color: azure;
    cursor: pointer;
}

.product_card-btn button {
    width: 100%;
    height: 100%;
}

.product_card a {
    text-decoration: none;
}