/*header*/

.nav {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    z-index: 500;
}

.nav_l {
    display: flex;
    gap: 15px;
}

.nav_l-logo a,
.nav_l-link-item,

.products {
    display: block;
    text-decoration: none;
    padding: 20px 20px;
    color: azure;
    font-size: 24px;
    transition: 0.3s;
}

.products {
    position: relative;
    cursor: pointer;
}

.products_list {
    width: fit-content;
    height: 600px;
    position: absolute;
    background-color: #010101;
    display: none;
    top: 70px;
    left: -240px;
    z-index: 1;
}

.products:hover .products_list {
    display: block;
}

.products_list_ctn1 {
    margin: 40px 90px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 2px solid azure;
}

.products_list_ctn1_l {
    display: flex;
}

.products_list_ctn1_l-c1,
.products_list_ctn1_l-c2 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.products_list_ctn1_l-c2 {
    row-gap: 82px;
}

.products_list_ctn1_l-c2-r1,
.products_list_ctn1_l-c2-r2 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.products_list-title {
    color: #737373;
    font-size: 0.8rem;
}

.products_list-link {
    text-decoration: none;
    color: azure;
    font-size: 48px;
    display: block;
    width: 310px;
    margin-left: 5px;
    transition: 0.3s;
}

.products_list-link:hover {
    opacity: 0.5;
}

.nav_l-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products_list_ctn1_r {
    position: relative;
    display: flex;
    gap: 30px;
    opacity: 0.9;
}

.products_list_ctn1_r_img {
    width: 310px;
    height: 310px;
    overflow: hidden;
    border-radius: 20px;
}

.products_list_ctn1_r_img-top {
    position: absolute;
    display: flex;
    width: 290px;
    justify-content: space-between;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 15px;
}

.products_list_ctn1_r_img-top p {
    width: 100px;
    color: #010101;
}

.products_list_ctn1_r_img-top img {
    width: 20px;
    height: 20px;
}

.products_list-img {
    width: 310px;
    height: 380px;
}

.products_list-img:hover {
    opacity: 0.8;
    transform: scale(1.3);
}

.products_list_ctn2 {
    padding: 10px 90px;
    display: flex;
    gap: 35px;
}

.products_list-btn1,
.products_list-btn2 {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid azure;
    background-color: transparent;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.products_list-btn1:hover,
.products_list-btn2:hover {
    opacity: 0.8;
}

.nav_l-link-item,
.products {
    position: relative;
}

.nav_l-logo a {
    margin-left: 70px;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 8px;
}



.nav_l-logo a:hover {
    opacity: 0.8;
}
.nav_l-link-item:hover::after,
.products:hover::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #3333f5;
    width: 0px;
    height: 4px;
    animation: fadeIn 400ms ease-out forwards;
    bottom: 5px;
}
.nav_r{

}
.nav_r_shopping{
    font-size: 24px;
    padding: 20px;
    color: azure;
    cursor: pointer;
    margin-right: 50px;
}
.nav_r_shopping:active{
    opacity: 0.8;

}
.nav_r_shopping span{
    width: 10px;
    height: 10px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    top: 20px;
    right: 55px;
}
.nav_r_cart{
    width: 50%;
    height: 740px;
    background-color: transparent;
    position: fixed;
    top:0 ;
    right: -200%;
    transition: 0.5s;
    box-shadow: 5px 100px 1000px 900px rgba(0,0,0,0.75);
    z-index: 100;
}

.open .nav_r_cart{
    right: 0;
    background-color:white;
}
.nav_r_cart .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-size: 24px;
    padding: 22px 60px;
    border-bottom: 1px solid gray;
    font-weight: bold;
}
.nav_r_cart .header .title .title_quantity{
   width: 10px;
   height: 10px;
   font-size: 13px;
   position: absolute;
   top: 15px;
   left: 140px;
    
}
.nav_r_cart .header .close{
    cursor: pointer;
}
/*list item cart*/
.nav_r_cart .list{
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 310px;
    border-bottom: 1px solid gray;
    display: grid;
    grid-template-rows: 180px;
}
.product{
    display: flex;
}
.cart_item{
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 20px;
    padding: 20px 50px;

}
.product_img img{
    height: 136px;
    width: 136px;
    padding: 0 20px;
}
.product_name{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    color: black;
    
}
.product_quantity{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    color: #000;
}
.product_quantity div{
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.remove,.price{
    display: flex;
    align-self: center;
    justify-content: center;
    color: #000;
}
.remove{
    width: 30px;
    height: 30px;
    border: 3px solid #000;
    cursor: pointer;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 120px;
}
/**/
.nav_r_cart .checkout{
    height: 230px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
.nav_r_cart .checkout .r1{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    color: rgb(82 138 39);
    font-weight: bold;
    font-size: 24px;
}
.nav_r_cart .checkout .r2{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    color: #000;
    font-weight: bold;
    font-size: 24px;
    height: 40px;
}
.nav_r_cart .checkout .r3{
    padding: 20px 50px;
}
.nav_r_cart .checkout .r3 .btn_checkout{
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: azure;
    font-size: 24px;
    padding: 10px 10px;
    background-color: #3333f5;
    border-radius: 30px;
}
.remove:hover,.btn_checkout:hover{
    opacity: 0.8;
}
/*hover gạch chân*/

@keyframes fadeIn {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}


/*hiệu ứng khi lăn chuột xuống trên web*/

header.scroll_nav {
    background-color: black;
  
}