*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to left,pink, blue);
}
.wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 400px;
   height: fit-content; 
   margin-top: 100px;
   background-color: white;
   border-radius: 5px;
   transition: 1s;
}
.wrapper_header{
    font-size: 40px;
    color: #010101;
    font-weight: bold;
    padding: 40px 0;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
}
.input_field{
    width: 320px;
    height: 40px;

}
input{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #010101;
    font-size: 15px;
    
}
a{  
    width: fit-content;
    color: blue;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}
button{
    width: 200px;
    height: 50px;
    background-color: blue;
    border-radius: 5px;
    color: azure;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    border: none;
    transition: all 0.3s;
}
button:hover{
   opacity: 0.6;
}
.back 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: red;
    margin-top: 20px;
    background-image: linear-gradient(to right,pink,blue);
    padding: 5px 0;
}
.back a{
    font-size: 14px;
    color: azure;
    width: fit-content;
    text-decoration: none;
}
.back a:hover{
    opacity: 0.8;
}