
/*hover gạch chân*/

@keyframes fadeIn {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}


/*hiệu ứng thanh nav khi lăn chuột xuống trên web*/

header.scroll_nav {
    background-color: black;
}


/*------------------*/


/* container*/

.ctn {
    width: 200vh;
}

.ctn1 {
    width: 100%;
    height: 845px;
    position: relative;
    background-color: black;
}

.ctn1 .ctn1-video {
    width: 100%;
    z-index: -1;
}

.ctn1_txt {
    position: absolute;
    background-color: transparent;
    width: 900px;
    height: 400px;
    top: 300px;
    left: 90px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    color: azure;
}

.ctn1_txt-1 {
    font-size: 2.5rem;
}

.ctn1_txt-2 {
    font-size: 4rem;
    font-weight: bold;
}

.ctn a {
    text-decoration: none;
}

.ctn1_txt-btn {
    margin-top: 20px;
    width: 250px;
    height: 60px;
    background-color: #3333f5;
    outline: none;
    border: #3333f5;
    border-radius: 30px;
    color: azure;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ctn1_txt-btn img {
    height: 30px;
    width: 30px;
}

.ctn1_txt-btn:hover {
    background-color: black;
    opacity: 0.9;
}

.ctn2 {
    width: 100%;
    height: 815px;
    background-color: #171717;
    display: grid;
    grid-template-rows: 130px 500px;
}

.ctn2_r1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 90px;
}

.ctn2_r1 p {
    margin-left: 120px;
    font-size: 3rem;
    letter-spacing: 5px;
    color: azure;
}

.ctn2_r1 a {
    text-decoration: none;
    color: azure;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 120px;
    margin-top: 20px;
}

.ctn2_r1 a:hover {
    opacity: 0.8;
}

.ctn2_r1 a img {
    width: 20px;
    height: 20px;
}

.ctn2_r2 {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: repeat(3, 300px);
    gap: 40px;
    margin-left: 270px;
    margin-top: 60px;
}

.ctn2_r2_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    row-gap: 15px;
    background-color: azure;
    height: 470px;
    width: 300px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.ctn2_r2_item-img {
    width: 300px;
    height: 312px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.ctn2_r2_item-img img {
    width: 300px;
    height: 312px;
    transition: 0.3s ease-in;
}

.ctn2_r2_item-img img:hover {
    transform: scale(2);
    border-radius: 20px;
    opacity: 0.8;
}

.ctn2_r2_item-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.ctn2_r2_item-price {
    font-size: 1.2rem;
    font-weight: bold;
}

.ctn2_r2_item-btn {
    margin-top: 20px;
    width: 150px;
    height: 35px;
    background-color: #3333f5;
    outline: none;
    border: #3333f5;
    border-radius: 30px;
    color: azure;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ctn2_r2_item-btn img {
    height: 30px;
    width: 30px;
}

.ctn2_r2_item-btn:hover {
    background-color: black;
    color: azure;
}

.ctn3 {
    width: 100%;
    height: 815px;
    background-image: url("/img/background_trangchu-ctn3.jpg");
    display: flex;
    background-color: #171717;
    color: azure;
    gap: 100px;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: contain, cover;
}

.ctn3_img {
    width: 485px;
    height: 775px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    margin-left: 180px;
}

.ctn3_img1,
.ctn3_img2 {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.ctn3_img2 {
    z-index: 1;
    position: absolute;
    left: 0;
}

.ctn3_txt {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: fit-content;
}

.ctn3_txt1 {
    font-size: 5rem;
    width: 400px;
}

.ctn3_txt2,
.ctn3_txt3 {
    font-size: 2rem;
    width: 800px;
}

.ctn3_txt2 span {
    color: rgb(213, 42, 42);
}

.ctn3_txt-btn {
    margin-top: 20px;
    width: 230px;
    height: 45px;
    background-color: transparent;
    outline: none;
    border: 1px solid azure;
    border-radius: 30px;
    color: azure;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.ctn3_txt-btn:hover {
    background-color: black;
}

.ctn4 {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #171717;
    overflow: hidden;
}

.ctn4 iframe {
    border-radius: 20px;
}

.ctn5 {
    width: 100%;
    height: fit-content;
    background-color: #272727;
    padding-bottom: 50px;
}

.ctn5_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    font-size: 2rem;
    color: #7dfb5d;
}

.ctn5_link {}

.ctn5_link img {
    width: 100%;
    height: 100%;
}

.ctn5_link-r {
    display: flex;
    justify-content: space-evenly;
}

.ctn5_link-r a {
    display: block;
    width: 210px;
    height: 115px;
}

.ctn5_link a {
    transition: 0.3s;
    opacity: 0.5;
}

.ctn5_link a:hover {
    opacity: 1;
}


/* footer*/

.ft {
    width: 100%;
    height: fit-content;
    background-color: #171717;
}

.ft_r1 {
    display: flex;
    gap: 115px;
    margin-left: 50px;
}

.ft_r1 {}

.ft_r1_col1 {
    width: 500px;
    color: azure;
}

.ft_r1_col1-logo {
    font-size: 2rem;
    font-weight: bold;
    margin: 30px 0;
}

.ft_r1_col-r1 {
    color: #737373;
    font-size: 0.9rem;
}

.ft_r1_col1-txt {
    font-size: 1.4rem;
}

.ft_r1_col {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.ft_r1_col-link {
    font-size: 1.3rem;
    margin: 10px 0;
    color: azure;
    text-decoration: none;
}

.ft_r1_col-link:hover {
    opacity: 0.5;
}

.ft_r2 {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: #737373;
    font-size: 0.8rem;
}

.ft_r2-c2 {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.ft_r2-c2 p:hover {
    opacity: 0.8;
}