
/*header*/
.nav{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    z-index: 500;

}
.nav_l{
    display: flex;
    gap: 15px;
}
.nav_l-logo a ,.nav_l-link-item,.nav_l-link-item-whyAAA,.nav_r a,.products{
    display: block;
    text-decoration: none;
    padding: 20px 20px;
    color: azure;
    font-size: 24px;
    transition: 0.3s;
}
.products{
    position: relative;
    cursor: pointer;
    
}
.products_list{
    width: 1520px;
    height: 600px;
    position: absolute;
    background-color: #010101;
    display: none;
    top: 70px;
    left: -270px;
    z-index: 1;
}
.products:hover .products_list{
    display: block;
}
.products_list_ctn1{
    margin: 40px 90px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 2px solid azure;
}
.products_list_ctn1_l{
    display: flex;
}
.products_list_ctn1_l-c1,.products_list_ctn1_l-c2{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.products_list_ctn1_l-c2{
    row-gap:82px;
}
.products_list_ctn1_l-c2-r1,.products_list_ctn1_l-c2-r2{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.products_list-title{
    color: #737373;
    font-size: 0.8rem;
}
.products_list-link{
    text-decoration: none;
    color: azure;
    font-size: 48px;
    display: block;
    width: 310px;
    margin-left: 5px;
    transition: 0.3s;
}
.products_list-link:hover{
    opacity: 0.5;
}
.nav_l-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.products_list_ctn1_r{
    position: relative;
    display: flex;
    gap: 30px;
    opacity: 0.9;
}
.products_list_ctn1_r_img{
    width: 310px;
    height: 310px;
    overflow: hidden;
    border-radius: 20px;
}
.products_list_ctn1_r_img-top{
    position: absolute;
    display: flex;
    width: 290px;
    justify-content: space-between;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 15px;
}
.products_list_ctn1_r_img-top p{
    width: 100px;
    color: #010101;
}
.products_list_ctn1_r_img-top img{
    width: 20px;
    height: 20px;
}
.products_list-img{
    width: 310px;
    height: 380px;
}
.products_list-img:hover{
    opacity: 0.8;
    transform: scale(1.3);
}
.products_list_ctn2{
   padding: 10px 90px;
   display: flex;
   gap: 35px;
}
.products_list-btn1,.products_list-btn2{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid azure;
    background-color: transparent;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;

}
.products_list-btn1:hover,.products_list-btn2:hover{
    opacity: 0.8;
}
.nav_l-link-item,.nav_l-link-item-whyAAA,.products{
    position: relative;
}
.nav_l-logo a{
    margin-left: 70px;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 4.5px;
}
.nav_r a{
    margin-right: 70px;
    position: relative;
}
.nav_l-logo a:hover{
    opacity: 0.8;
}
.nav_l-logo a:hover{
    opacity: 0.8;
}
.nav_l-link-item-whyAAA::after{
    content: "";
	display: block;
	position: absolute;
    background-color: red;
    width: 70%;
    height: 4px;
    bottom: 5px;
}
.nav_r a:hover::after,.nav_l-link-item:hover::after,.products:hover::after{
    content: "";
	display: block;
	position: absolute;
    background-color: red;
    width: 0px;
    height: 4px;
    animation: fadeIn 400ms ease-out forwards;
    bottom: 5px;
}
/*hover gạch chân*/
@keyframes fadeIn{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}
/*hiệu ứng khi lăn chuột xuống trên web*/
header.scroll_nav{
    background-color: black;
    opacity: 0.9;
}
/*------------------*/
/* container*/
.ctn{
    width: 1520px;
    position: relative;
}
.ctn1{
   width: 100%;
   height: 845px;
   position: relative;
}
.ctn1 .ctn1-video{
   width: 1520px;
   z-index: -1;
}
.ctn1_txt{
    position: absolute;
    background-color: transparent;
    width:900px;
    height: 400px;
    top: 320px;
    left: 90px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    color: azure;
}
.ctn1_txt-2{
    font-size: 2.5rem;
}
.ctn1_txt-1{
    font-size: 6.5rem;
}
.ctn2{
    background-image: url("C:/Users/admin/Desktop/Năm 2/Lập trình web/LTWWeb_DoAnCuoiKy/AAA_aion-website/img/whyAAA-bg-ctn2.jpeg");
    height: 750px;
    background-color: black;
}
.ctn2,.ctn4{
    background-size: contain cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: azure;
    row-gap: 50px;
}
.ctn2 div,.ctn4 div{
    margin-top: 100px;
    font-size: 7rem;

}
.ctn2 p,.ctn4 p{
    font-size: 2rem;
    width: 800px;
    text-align: center;
}
.ctn2 p span ,.ctn4 p span{
    color: #7dfb5d;
}
.ctn3,.ctn5{
    width: 100%;
    height: 830px;
    background-color: black;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}
.ctn3 div,.ctn5 div{
    font-size: 5rem;
    margin-top: 100px;
    width: 600px;
    text-align: center;
}
.ctn3 p,.ctn5 p{
    font-size: 2rem;
    width: 900px;
    text-align: center;
    display: block;

}
.ctn3 p span,.ctn5 p span{
    color: #7dfb5d;
}
.ctn3 img{
    width: 600px;
}
.ctn4{
    background-color: #010101;
    height: 600px;
}
.ctn5 div{
    background-image: linear-gradient(to right,black,blue,red);
    width: fit-content;
    padding: 30px;
    height: fit-content;
    border-radius:50% ;
    border: 3px solid azure;
}
.ctn6{
    width: 1520px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-image: linear-gradient(to right,lightblue,lightgreen,green,lightgreen ,lightblue );
    overflow: hidden;
    
}
.ctn6 iframe{
    border-radius: 20px;
}

